header{
    margin: 80px;
}
.countdown{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
    margin: 80px;
}

section{
    display: flex;
    justify-content: center;
}

ul{
    list-style-type: none;
}

#buttons{
    display: flex;
    justify-content: center;
}

button{
    height: 100px;
    width: 400px;
    font-size: 50px;
    font-weight: bold;
    border-radius: 10px;
}

button:hover {
    background-color: gold;
}


#reload{
    display: none;
}

#results{
    display: none;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    border-style: solid;
    background-color: lightgreen;
    border-radius: 5px;
    padding-top: 10px;
    height: 100px
}